<div class="modal fade" id="user-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="user-add-modal-title">新增用户</h3>
            </div>
            <div class="modal-body">
                <form id="user-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 用户名：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="nickname" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 所在省：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receiveprovince" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	所在市：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receivecity" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 所在县(区)：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receivecounty" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 详细地址：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receivedetailaddress" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 收件人姓名：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receivenickname" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 收件人手机号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="receivephone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	创建时间：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="createtime" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  style="display: none;">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon" style="justify-content: flex-start;margin-top: .5rem;">
					               	部门：
					             </span>
                                <div class="form-group">
                                    <div id="deptTree"></div>
                                </div>
                                <input type="hidden" name="deptId">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/receive/receiveAddressAdd.js}"></script>