<div class="counter col_fourth"  style="width:15%;">
       <i class="fa fa-code fa-2x"></i>
       <p class="count-text ">待发货订单</p>
       <h4 class="timer count-title" id="count-number">2345</h4>
</div>
<div class="counter col_fourth"  style="width:15%;">
       <i class="fa fa-coffee fa-2x"></i>
       <p class="count-text ">提现待审批</p>
       <h4 class="timer count-title" id="count-number">22</h4>
</div>
<div class="counter col_fourth"  style="width:15%;">
       <i class="fa fa-lightbulb-o fa-2x"></i>
       <p class="count-text ">账户总金额</p>
       <h4 class="timer count-title" id="count-number">2345</h4>
</div>
<div class="counter col_fourth"  style="width:15%;">
       <i class="fa fa-bug fa-2x"></i>
       <p class="count-text ">用户总数量</p>
       <h4 class="timer count-title" id="count-number">2345</h4>
</div>
<script data-th-src="@{js/app/system/statistics/statistics.js}"></script>