<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hu.system.dao.ReceiveMapper">

	<select id="getReceiveDetails" resultType="map">
		select
		t.id,t.nickname,tt.receiveprovince,tt.receivecity,tt.receivecounty,tt.receivedetailaddress,tt.receivephone,tt.receivenickname from
		front_user t left join front_user_receive_address tt
		on t.id=tt.frontuserid order by t.id
	</select>

</mapper>